
.grammarScore {
   font-size: 10px;
   color: red;
   font-weight: bold;


}

.articleLabel {
font-weight: bold;
font-size: 10px;
}

.poliGauge {
width: 150px
height: 80px;
}



.fake {
	background: #e41a1c;
}
.unreliable {
  background: #ff7f00;

}
.conspiracy {
  background: #ff7f00;

}
.rumor {
  background: #ff7f00;

}
.junksci {
  background: #ff7f00;
}
.clickbait {
	background: #984ea3;
}
.satire {
	background: #f781bf;
}
.bias {
	background: #4daf4a;
}
.state {
  background: #377eb8;
}
.hate {
	background: #e31a1c;
}
.political {
	background: #33a02c;
}
.reliable {
  background: #4daf4a;
}
.unidentified {
	background: #999999;
}


/* layout */
#inform-main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

#informSidebar {
    float: left;
    width: 60%;
}

#inform-content-wrap {
    float: right;
    width: 40%;
}   

.whitearea {
    width:250px;
    height:200px;
    float:right;
}