
.grammarScore {
   font-size: 10px;
   color: red;
   font-weight: bold;


}

.articleLabel {
font-weight: bold;
font-size: 10px;
}

.poliGauge {
width: 150px
height: 80px;
}

/* layout */
#inform-main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

#informSidebar {
    float: left;
    width: 60%;
}

#inform-content-wrap {
    float: right;
    width: 40%;
}   

.whitearea {
    width:250px;
    height:200px;
    float:right;
}